@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@400;500;700&display=swap');

* {                          /*coficugaçao do texto*/
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.button-Sing-Up {            /*configuraçao do botao*/
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
ul {
    align-items:center;
    display: flex;
    list-style: none;
    gap: 32px;
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    margin: 47px 0 0 42px;
    cursor: pointer;
}

.container-img {           /*cofiguraaço da imagem*/
    margin:163px 0 0 121px;
    display: inline-block;
}
.container-text {
    display: inline-block;
    margin-left: 85px;
}

h1 {
    width: 582px;
    margin: 0px 57px 47px 0;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}
p {
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin: 0 146px 55px 0;
}

.button-main {
    width: 112px;
    color: #6FBF44;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 527px 0px 0;
    cursor: pointer;
    background: transparent;
    border: none;
}
@media screen and (max-width: 750px) {

    section {
        display: flex;
        flex-direction: column-reverse;
    }

    li {
        display: none;
    }

    ul {
        justify-content: flex-end;
        margin: 17px 15px 76px 0;
    }

    .button-sign-up {
        width: 91px;
        height: 31px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
    }

    h1 {
        width: 278px;
        color: #161A49;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.596px;
        margin: 0 55px 29px 57px;
    }

    p {
        width: 304px;
        color: #4B505A;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin: 0 43px 26px 43px;
    }

    .button-main {
        color: #6FBF44;
        font-size: 17px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        margin: 0 139px 59px 139px;

    }

    img {
        width: 279.921px;
        height: 268.932px;
        flex-shrink: 0;

    }

    .container-img {
        margin-top: 0px;
    }
}